:root {
    --color-blue: #97DCFF;
    --color-mint: #EBF9FF;
    --color-yellow: #F7E593;
    --color-red: #FFA292;
    --def-color: #F7F2EA;
    
}

.card {
    position: relative;
    display: flex;
    width: 25%;
    filter: blur(10%);
    height: 100%;
    flex-direction: column;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #4159BC;
}
@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.card:hover::after, .card:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    padding: 4px;
    height: 100%;
    z-index: -1;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 80%, red, yellow, blue);
    animation: spin 3s infinite linear;
    will-change: transform;
    border-radius: 20px;
}

.card::before{
    filter: blur(1.2rem);
}

@keyframes spin {
       from { --angle: 0deg; }
       to { --angle: 360deg; }
   }


/* Blue Card */

.card-blue {
    position: relative;
    display: flex;
    width: 25%;
    filter: blur(10%);
    height: 100%;
    flex-direction: column;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--color-blue);
}

.card-blue:hover::after, .card-blue:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    padding: 4px;
    height: 100%;
    z-index: -1;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 80%, var(--color-blue));
    animation: spin 3s infinite linear;
    will-change: transform;
    border-radius: 20px;
}

.card-blue::before{
    filter: blur(1.2rem);
}

/* Yellow Card */


.card-yellow {
    position: relative;
    display: flex;
    width: 25%;
    filter: blur(10%);
    height: 100%;
    flex-direction: column;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--color-yellow);
}

.card-yellow:hover::after, .card-yellow:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    padding: 4px;
    height: 100%;
    z-index: -1;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 80%, var(--color-yellow));
    animation: spin 3s infinite linear;
    will-change: transform;
    border-radius: 20px;
}

.card-yellow::before{
    filter: blur(1.2rem);
}

/* Card Mint */


.card-mint {
    position: relative;
    display: flex;
    width: 25%;
    filter: blur(10%);
    height: 100%;
    flex-direction: column;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--color-blue);
}

.card-mint:hover::after, .card-mint:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    padding: 4px;
    height: 100%;
    z-index: -1;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 80%, var(--color-blue));
    animation: spin 3s infinite linear;
    will-change: transform;
    border-radius: 20px;
}

.card-mint::before{
    filter: blur(1.2rem);
}
