/* desktop 
@media (min-width: 1440px){

}
pad
@media (min-width: 1024px) {
    
} */
/* mobile sisanya */
:root {
    --color-base: #FFD9EB;
    --color-base-dark: #5B2C18;
    --color-id: #4159BC;
    --def-color: #e85d77;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;

}

body {
    position: relative;
}



#nav {
    background-color: var(--color-base);
    height: 100%;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container {
    
    
    display: flex;
    width: calc(50%-200px);
    height: 100vh;
    background-color: var(--color-base);
}


#nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-base);
   
    padding: 0 40px 0 0;
    color: var(--def-color);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* #nav a:hover {
    background-color: #fff;
    transition: 0.3799s;
} */

#nav-con{
width: 50%;
}
#nav-png{
    width: 35%;
    height: auto;
    margin: 0 10% 0 5%;
    
}

#nav-png img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
