/* :root {
} */

:root {
    --color-blue: #97DCFF;
    --color-mint: #EBF9FF;
    --color-yellow: #F7E593;
    --color-red: #FFA292;
    --color-pink: #FDF1F7;
    --cream-color: #F7F2EA;

    --red-primary: #FF5757;
    --pink-primary: #FEEBF3;
    --light-primary: #AFE7FF;
    --yellow-primary: #F9FF51;
    --blue--primary: #55C6FF;
    --cream-primary: #ECE2D2;


}

.fontny {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;


}

body {
    background-color: var(--def-color);
}

.bulat-besar-container {
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    top: -140%;
    justify-self: center;

}

.bulat-besar {
    /* background-image: linear-gradient(from var(--angle), transparent 80%, var(--color-yellow), red); */
    background: linear-gradient(to right, #1BD3F3, #F5BAD6);

    width: 100%;
    height: 100%;
}

.bulat-kecil-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    justify-self: center;
    right: 0;
    bottom: -50%;
    rotate: 180deg;
    z-index: -1;

}

.bulat-kecil {
    /* background-image: linear-gradient(from var(--angle), transparent 80%, var(--color-yellow), red); */
    background: linear-gradient(to right, #1BD3F3, #F5BAD6);
    width: 100%;
    height: 100%;
}



.card-container {
    margin: 5vh 12.5vw 5vh 12.5vw;
    width: 75vw;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 0;
    justify-content: space-around;
}



.gambar-kontener {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: #1BD3F3; */
}

.gambar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* background-color: var(--yellow-primary); */

}

h5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-block {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2%;
    
}

.shadow{
}